In [11]:
from pytrends.request import TrendReq
import pandas as pd
import time
startTime = time.time()
pytrend = TrendReq(hl='en-US', tz=360)

colnames = ["keywords"]
df = pd.read_csv("keyword_list.csv", names=colnames)
df2 = df["keywords"].values.tolist()
df2.remove("Keywords")

dataset = []

for x in range(0,len(df2)):
    keywords = [df2[x]]
    pytrend.build_payload(
    kw_list=keywords,
    cat=0,
    timeframe='2013-01-01 2014-01-01',
    geo='US')
    data = pytrend.interest_over_time()
    if not data.empty:
        data = data.drop(labels=['isPartial'],axis='columns')
        dataset.append(data)

result2 = pd.concat(dataset, axis=1)
result2.to_csv('search_trends2.csv')

executionTime = (time.time() - startTime)
print('Execution time in sec.: ' + str(executionTime))

Execution time in sec.: 3.4205570220947266

In [2]:
result.reset_index(inplace = True)

In [6]:
import datetime as dt

In [8]:
result['year'] = result['date'].dt.year

In [9]:
result

         date  Chris Evans  Mark Ruffallo  Daniel Craig  year
0  2012-01-01           19              0            34  2012
1  2012-01-08           17              0            23  2012
2  2012-01-15           23              0            17  2012
3  2012-01-22           16              0            15  2012
4  2012-01-29           18              0            15  2012
5  2012-02-05           24              0            15  2012
6  2012-02-12           19              0             8  2012
7  2012-02-19           21              0            12  2012
8  2012-02-26           18              0            14  2012
9  2012-03-04           18              0             9  2012
10 2012-03-11           19              0            10  2012
11 2012-03-18           13              0            10  2012
12 2012-03-25           15              0            18  2012
13 2012-04-01           16             50            15  2012
14 2012-04-08           24              0            10  2012
15 2012-04-15           24              0            11  2012
16 2012-04-22           26              0            10  2012
17 2012-04-29           50              0            14  2012
18 2012-05-06          100             49             8  2012
19 2012-05-13           74              0             7  2012
20 2012-05-20           57              0            11  2012
21 2012-05-27           60              0            13  2012
22 2012-06-03           44             49             8  2012
23 2012-06-10           43              0            12  2012
24 2012-06-17           37             50             8  2012
25 2012-06-24           28            100             9  2012
26 2012-07-01           38              0            11  2012
27 2012-07-08           29              0            12  2012
28 2012-07-15           25              0            13  2012
29 2012-07-22           22              0            37  2012
30 2012-07-29           40              0            33  2012
31 2012-08-05           36              0            17  2012
32 2012-08-12           37              0            14  2012
33 2012-08-19           31             49            13  2012
34 2012-08-26           27              0            13  2012
35 2012-09-02           24              0            11  2012
36 2012-09-09           20              0            13  2012
37 2012-09-16           19              0            10  2012
38 2012-09-23           28              0            17  2012
39 2012-09-30           44              0            28  2012
40 2012-10-07           27              0            39  2012
41 2012-10-14           30              0            30  2012
42 2012-10-21           21              0            28  2012
43 2012-10-28           25              0            28  2012
44 2012-11-04           17              0            85  2012
45 2012-11-11           17              0           100  2012
46 2012-11-18           19              0            85  2012
47 2012-11-25           19              0            50  2012
48 2012-12-02           17              0            36  2012
49 2012-12-09           18              0            28  2012
50 2012-12-16           21              0            28  2012
51 2012-12-23           30             49            36  2012
52 2012-12-30           27              0            34  2012